<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/fer_hibernate1</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
        <!--
		<mapping resource="com/mkyong/user/DBUser.hbm.xml"></mapping>
		<mapping resource="com/mkyong/user/Student.hbm.xml"></mapping>
		<mapping resource="com/mkyong/user/Contact.hbm.xml"></mapping>
		<mapping resource="com/mkyong/user/Address.hbm.xml"></mapping>
		
		<mapping resource="com/mkyong/user/Customer.hbm.xml"></mapping>
		<mapping resource="com/mkyong/user/Vendor.hbm.xml"></mapping>
	
		<mapping resource="com/mkyong/user/Student1.hbm.xml"></mapping>
		<mapping resource="com/mkyong/user/Course.hbm.xml"></mapping>
		-->

		<mapping class="com.rs.fer.bean.User"></mapping>
		<mapping class="com.rs.fer.bean.Expense"></mapping>
		<mapping class="com.rs.fer.bean.Address"></mapping>

	</session-factory>
</hibernate-configuration>
